<div class="container">
  <div class="row">
    <h1>Lista de Productos</h1>
    <ul>
      {{#each products}}
        <li>Nombre: {{title}} - Stock: {{stock}} - Descripción: {{description}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="../../public/js/index.js"></script>

